<h1><%= t('settings') %></h1>
<%= form_with(model: @user, url: admin_edit_user_path, local: true) do |form| %>

<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">

    </div>
</div>
<% end %>


